html,
body {
  height: 100%;
  background-color: rgb(236, 251, 255);
  font-family: 'EB Garamond', serif;
}
.container,
.row.justify-content-center.align-items-center {
  height: 100%;
  min-height: 100%;
}

p {
  border: 1px solid rgba(33, 0, 180, 0.171);
}

.clearBtn {
  position: fixed;
  bottom: 15px;
  right: 10px;
}
